body{
  background-color:#ECE5C7;
}

hr{
  height: 0px;
  border-style: none;
  border-top: dotted;
  width: 10%;
  border-color: grey;
  border-width: 5px
}

img{
  height: 220px;
}

h1{
  color: #354259;
}

h3{
  color: #CDC2AE;
}
